In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/food52_scraped_data.csv')

In [3]:
df.head()

,_id,rating,recipe,title,weblink
0,59d7cf29a980892888190548,14,2 tablespoons unsalted butter\n1/4 cup diced y...,Austin Diner-Style Queso,https://food52.com/recipes/73529-austin-diner-...
1,59d7cf30a98089288819054a,29,1 pound shelled raw peanuts\n1 tablespoon plus...,Mamba (Spicy Haitian Peanut Butter),https://food52.com/recipes/73211-mamba-spicy-h...
2,59d7cf39a98089288819054c,2,2 cups (8 1/2 ounces) all-purpose flour\n1/2 c...,Sheet Pan Muffins,https://food52.com/recipes/73548-sheet-pan-muf...
3,59d7cf3fa98089288819054e,92,"1 1/2 cups (300g) Puy lentils, washed\n4 clove...",Anna Jones' Favorite Lentils with Roasted Toma...,https://food52.com/recipes/73511-anna-jones-fa...
4,59d7cf48a980892888190550,3,2 ounces Seedlip Garden 108\n0.75 ounces Lemon...,Seedlip's A Good Dill,https://food52.com/recipes/73252-seedlip-s-a-g...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 5 columns):
_id        9721 non-null object
rating     9721 non-null int64
recipe     9233 non-null object
title      9721 non-null object
weblink    9721 non-null object
dtypes: int64(1), object(4)
memory usage: 379.8+ KB

In [5]:
import numpy as np
import string

In [12]:
def main_ingredient(col):
    ingredients = ['pork', 'chicken', 'beef']
    for item in ingredients:
        if item in str(col):
            return item
        else:
            continue

In [13]:
df['category'] = df['recipe'].apply(main_ingredient)

In [15]:
df['category'].value_counts()

chicken    2137
pork        696
beef        625
Name: category, dtype: int64

In [16]:
dummies = pd.get_dummies(df['category'])

In [18]:
dummies.head()

   beef  chicken  pork
0     0        0     0
1     0        0     0
2     0        0     0
3     1        0     0
4     0        0     0

In [23]:
df2 = pd.concat([df,dummies], axis=1)

In [24]:
df2.head()

,_id,rating,recipe,title,weblink,category,beef,chicken,pork
0,59d7cf29a980892888190548,14,2 tablespoons unsalted butter\n1/4 cup diced y...,Austin Diner-Style Queso,https://food52.com/recipes/73529-austin-diner-...,None,0,0,0
1,59d7cf30a98089288819054a,29,1 pound shelled raw peanuts\n1 tablespoon plus...,Mamba (Spicy Haitian Peanut Butter),https://food52.com/recipes/73211-mamba-spicy-h...,None,0,0,0
2,59d7cf39a98089288819054c,2,2 cups (8 1/2 ounces) all-purpose flour\n1/2 c...,Sheet Pan Muffins,https://food52.com/recipes/73548-sheet-pan-muf...,None,0,0,0
3,59d7cf3fa98089288819054e,92,"1 1/2 cups (300g) Puy lentils, washed\n4 clove...",Anna Jones' Favorite Lentils with Roasted Toma...,https://food52.com/recipes/73511-anna-jones-fa...,beef,1,0,0
4,59d7cf48a980892888190550,3,2 ounces Seedlip Garden 108\n0.75 ounces Lemon...,Seedlip's A Good Dill,https://food52.com/recipes/73252-seedlip-s-a-g...,None,0,0,0

In [25]:
del df2['_id']

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 8 columns):
rating      9721 non-null int64
recipe      9233 non-null object
title       9721 non-null object
weblink     9721 non-null object
category    3458 non-null object
beef        9721 non-null uint8
chicken     9721 non-null uint8
pork        9721 non-null uint8
dtypes: int64(1), object(4), uint8(3)
memory usage: 408.3+ KB

In [27]:
df2['recipe'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9691     True
9692     True
9693     True
9694     True
9695     True
9696     True
9697     True
9698     True
9699     True
9700     True
9701     True
9702     True
9703     True
9704     True
9705     True
9706     True
9707     True
9708     True
9709     True
9710     True
9711     True
9712     True
9713     True
9714    False
9715     True
9716     True
9717     True
9718     True
9719     True
9720     True
Name: recipe, Length: 9721, dtype: bool

In [29]:
df2.iloc[9718]

rating                                                      8
recipe                                                    NaN
title               Savory Squash Soup with Parmesan Croutons
weblink     https://food52.com/recipes/14982-savory-squash...
category                                                 None
beef                                                        0
chicken                                                     0
pork                                                        0
Name: 9718, dtype: object