In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data/food52_scraped_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 5 columns):
_id        9721 non-null object
rating     9721 non-null int64
recipe     9233 non-null object
title      9721 non-null object
weblink    9721 non-null object
dtypes: int64(1), object(4)
memory usage: 379.8+ KB

In [4]:
df_ratings = df[['title', 'rating']]

In [24]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 2 columns):
title     9721 non-null object
rating    9721 non-null int64
dtypes: int64(1), object(1)
memory usage: 152.0+ KB

In [46]:
df_ratings['rating'].value_counts()

0       657
1       613
2       447
3       336
4       243
5       193
6       182
7       157
8       150
10      114
9       113
11       86
15       84
18       82
16       80
20       78
13       78
14       73
19       72
17       69
12       68
21       64
24       62
22       56
32       55
36       54
33       53
29       53
39       52
37       51
       ...
1314      1
1322      1
1330      1
1354      1
1370      1
1386      1
1394      1
1418      1
1498      1
1554      1
1570      1
1610      1
1690      1
3747      1
1746      1
1890      1
1994      1
2010      1
959       1
951       1
943       1
2074      1
887       1
2910      1
847       1
807       1
2114      1
759       1
751       1
2007      1
Name: rating, Length: 1065, dtype: int64

In [33]:
dummies.head()

0    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
1    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
2                                           [1.0, 1.0]
3    [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
4                                      [1.0, 1.0, 1.0]
Name: rating, dtype: object

In [30]:
def rating_count(col):
    return np.ones(col)

In [31]:
dummies = df_ratings['rating'].apply(rating_count)

In [35]:
df2 = pd.DataFrame(dummies)

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9721 entries, 0 to 9720
Data columns (total 1 columns):
rating    9721 non-null object
dtypes: object(1)
memory usage: 76.0+ KB

In [37]:
df2 = pd.DataFrame(df2['rating'].values.tolist())

In [38]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,12107,12108,12109,12110,12111,12112,12113,12114,12115,12116
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
new_df = pd.concat([df_ratings,df2], axis=1)

In [45]:
new_df.head()

,title,rating,0,1,2,3,4,5,6,7,...,12107,12108,12109,12110,12111,12112,12113,12114,12115,12116
0,Austin Diner-Style Queso,14,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Mamba (Spicy Haitian Peanut Butter),29,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Sheet Pan Muffins,2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Anna Jones' Favorite Lentils with Roasted Toma...,92,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Seedlip's A Good Dill,3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
new_df.fillna(0, inplace=True)